{% extends 'base.html' %} 

{% block content %}

<img class='img-thumbnail' src="{{pet.photo_url}}" alt="">

<p><strong>Name:</strong> {{pet.name}}</p>
<p><strong>Species:</strong> {{pet.species}}</p>
<p><strong>Age:</strong> {{pet.age}}</p>
<form action="{{url_for('edit_pet_details', pet_id=pet.id)}}" method="POST">
{{ form.hidden_tag() }}
{% for field in form if field.widget.input_type != 'hidden' %}
<p>
  <strong>{{field.label}}</strong>
  {{field}}

  {% for error in field.errors %}
  {{error}}
  {%endfor%}
</p>
{% endfor %}
<button type='submit'>Edit</button>
</form>

<a class='btn btn-primary' href="{{url_for('show_pet_details', pet_id=pet.id)}}">Back</a>
{% endblock %}